<html>
<head>
    <link href="../Dashboard/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-default box box-info">
        <div class="panel-body">
            <div class="row" style="background-image:url(../../../map.png); background-size:cover">
                <div class="col-lg-2">
                    <img src="../../img/avatar3.png" class="img-thumbnail img-responsive" alt="User Image" />
                </div>
                <div class="col-lg-10">
                    <ul class="nav nav-tabs">
                        <li class="active"><a aria-expanded="true" href="#home" data-toggle="tab">Profile details</a></li>
                        <li class=""><a aria-expanded="false" href="#edu" data-toggle="tab">Educational background</a></li>
                        <li class=""><a aria-expanded="false" href="#wd" data-toggle="tab">Work details</a></li>
                        <li class=""><a aria-expanded="false" href="#wExp" data-toggle="tab">Work experience</a></li>
                        <li class=""><a aria-expanded="false" href="#hthd" data-toggle="tab">Health details</a></li>
                        <li class=""><a aria-expanded="false" href="#lv" data-toggle="tab">Leave</a></li>
                        <li class=""><a aria-expanded="false" href="#pr" data-toggle="tab">Promotion</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="home">
                            <div class="page-header">
                                <h1>Personal <small>details</small></h1>
                            </div>
                            <table class="table_profile">
                                <tr>
                                    <td>Title:</td>
                                    <td ng-bind="profile.title"></td>
                                </tr>
                                <tr>
                                    <td>First name:</td>
                                    <td ng-bind="profile.firstName"></td>
                                </tr>
                                <tr>
                                    <td>Last name:</td>
                                    <td ng-bind="profile.lastName"></td>
                                </tr>
                                <tr>
                                    <td>Middle name:</td>
                                    <td ng-bind="profile.middleName"></td>
                                </tr>
                                <tr>
                                    <td>Date of birth:</td>
                                    <td ng-bind="profile.DOB"></td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td ng-bind="profile.gender"></td>
                                </tr>
                                <tr>
                                    <td>Religion:</td>
                                    <td ng-bind="profile.religion"></td>
                                </tr>
                                <tr>
                                    <td>Marital status:</td>
                                    <td ng-bind="profile.maritalStatus"></td>
                                </tr>
                                <tr>
                                    <td>Number of children:</td>
                                    <td ng-bind="profile.numOfchildren"></td>
                                </tr>
                                <tr>
                                    <td>Telephone 1:</td>
                                    <td ng-bind="profile.telephone1"></td>
                                </tr>
                                <tr>
                                    <td>Telephone 2:</td>
                                    <td ng-bind="profile.telephone2"></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td ng-bind="profile.email"></td>
                                </tr>
                                <tr>
                                    <td>Address 1:</td>
                                    <td ng-bind="profile.address1"></td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td ng-bind="profile.address2"></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td ng-bind="profile.state"></td>
                                </tr>
                                <tr>
                                    <td>Local goverment:</td>
                                    <td ng-bind="profile.LGA"></td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="page-header">
                                            <h1>Next of kin <small>details</small></h1>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Full name:</td>
                                    <td ng-bind="profKin.name"></td>
                                </tr>
                                <tr>
                                    <td>Telephone 1:</td>
                                    <td ng-bind="profKin.tel1"></td>
                                </tr>
                                <tr>
                                    <td>Telephone 2:</td>
                                    <td ng-bind="profKin.tel2"></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td ng-bind="profKin.email"></td>
                                </tr>
                                <tr>
                                    <td>Address 1:</td>
                                    <td ng-bind="profKin.address1"></td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td ng-bind="profKin.address2"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade " id="edu">
                            <div class="page-header">
                                <h1>Educational <small>background</small></h1>
                            </div>
                            <table class="table_profile">
                                <tr>
                                    <td>Title:</td>
                                    <td>Mr.</td>
                                </tr>
                                <tr>
                                    <td>First name:</td>
                                    <td>Bello</td>
                                </tr>
                                <tr>
                                    <td>Last name:</td>
                                    <td>Musa</td>
                                </tr>
                                <tr>
                                    <td>Middle name:</td>
                                    <td>Abiola</td>
                                </tr>
                                <tr>
                                    <td>Date of birth:</td>
                                    <td>1 / 16 / 1960</td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td>Male</td>
                                </tr>
                                <tr>
                                    <td>Religion:</td>
                                    <td>Muslim</td>
                                </tr>
                                <tr>
                                    <td>Marital status:</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Number of children:</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Telephone 1:</td>
                                    <td>07038198563</td>
                                </tr>
                                <tr>
                                    <td>Telephone 2:</td>
                                    <td>07014715060</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>musbell007@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Address 1:</td>
                                    <td>447 zango street kofar mata, Kano</td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td>35 zoo road, Kano</td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>Kano</td>
                                </tr>
                                <tr>
                                    <td>Local goverment:</td>
                                    <td>Kano municipal</td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="page-header">
                                            <h1>Next of kin <small>details</small></h1>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Full name:</td>
                                    <td>Bello Hassan</td>
                                </tr>
                                <tr>
                                    <td>Telephone 1:</td>
                                    <td>07038198563</td>
                                </tr>
                                <tr>
                                    <td>Telephone 2:</td>
                                    <td>07014715060</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>musbell007@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Address 1:</td>
                                    <td>447 zango street kofar mata, Kano</td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td>35 zoo road, Kano</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="dropdown1">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown2">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../Dashboard/js/bootstrap.min.js"></script>
    <script src="../Dashboard/js/jquery-ui-1.10.3.min.js"></script>
</body>
</html>